@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 8px;               /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #0C1524;        /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #04BF58;    /* color of the scroll thumb */
    border-radius: 20px;       /* roundness of the scroll thumb */
  }
body{
    background: #0C1524;
}
header{
    background: #0C1524;
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 9;
    border-bottom: 1px solid white;
}
nav{
    width: 100%;
    margin-right: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: end;
    padding: 0 20px;
}
.menu ul li{
    font-size: 20px;
    width: 100px;
    height: 100px;
    display: inline-block;
    list-style: none;
    text-align: center;
    padding-top: 65px;
    cursor: pointer;
}
.menu ul li:hover{
    color: #04BF58;
}
.menu ul a{
    color: white;
    text-decoration: none;
}
section{
    min-height: 100vh;
    padding-top: 100px;
    cursor: default;
}
.container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    background-image: url(./public/imagens/background.png);
    height: calc(100vh - 100px);
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.text{
    text-align: start;
    width: 100%;
    display: grid;
    color: white;
    cursor: default;
}
.text h1{
    font-size: 45px;
    margin: 8px;
    margin-left: 80px;
}
.text p{
    font-size: 18px;
    margin: 5px;
    padding: 5px;
    background: #04BF58;
    width: fit-content;
    margin-left: 80px;
}
.about{
    background: #0C1524;
    height: calc(100vh - 100px);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin: 40px 15%;
    justify-content: center;
}
.about .textAbout{
    display: grid;
    text-align: center;
    color: white;
    width: 100%;
}
.about .textAbout h1{
    font-size: 2em;
    height: fit-content;
}
.about .skills{
    background: #1C1B29;
    display: grid;
    gap: 15px;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 300px;
}
.about .skills .photoInfos{
    text-align: end;
    margin: 20px;
}
.about .skills .photoInfos img{ 
    width: 80px;
    height: 80px;
    border-radius: 50%;
}
.about .skills .textInfos{ 
    text-align: end;
    font-size: 1em;
}
.about .skills .textInfos p{ 
    color: white;
    margin: 10px;
    letter-spacing: 2px;
}
.about .skills .textInfos p .textGreen{ 
    color: #04BF58;   
}
.about .skills .skillsInfos{
    color: white;
}
.about .skills .skillsInfos h1{
    margin: 10px;
}
.about .skills .skillsInfos h4{
    margin: 5px;
}
.about .skills .skillsInfos .progress-bar80{
    margin: 2px;
    height: 25px;
    padding: 2px;
    background: #0C1524;
    display: flex;
}
.about .skills .skillsInfos .progress-bar80::before{
    content: "80%";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: #04BF58;
}
.about .skills .skillsInfos .progress-bar70{
    margin: 2px;
    height: 25px;
    padding: 2px;
    background: #0C1524;
    display: flex;
}
.about .skills .skillsInfos .progress-bar70::before{
    content: "70%";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70%;
    background-color: #04BF58;
}
.about .skills .skillsInfos .progress-bar50{
    margin: 2px;
    height: 25px;
    padding: 2px;
    background: #0C1524;
    display: flex;
}
.about .skills .skillsInfos .progress-bar50::before{
    content: "50%";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    background-color: #04BF58;
}
.about .skills .skillsInfos .progress-bar35{
    margin: 2px;
    height: 25px;
    padding: 2px;
    background: #0C1524;
    display: flex;
}
.about .skills .skillsInfos .progress-bar35::before{
    content: "35%";
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35%;
    background-color: #04BF58;
}
.portifolio{
    background: #0C1524;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 15%;
}
.portifolio .titlePortifolio{
    display: grid;
    text-align: center;
    color: white;
    width: 100%;
    height: 60px;
}
.portifolio .titlePortifolio h1{
    font-size: 2em;
    height: fit-content;
}
.projetos{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 15px;
}
.projeto{
    overflow: hidden;
    position: relative;
    width: auto;
    height: 200px;
}
.image{
    display: block;
    width: 100%;
    height: 100%;
}
.overlay{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color:#04BF58;
}
.projeto:hover .overlay{
    opacity: 1;
}
.textProjeto{
    color: white;
    font-size: 20px;
    margin: 15px;
}
.iconProjeto{
    color: white;
    font-size: 20px;
}
.iconProjeto a{
    text-decoration: none;
    color: white;
}
.buttomProjetos a{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    margin-top: 40px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #1C1B29;
    text-decoration: none;
    color: white;
}
.buttomProjetos a:hover{
    background: #04BF58;
}

.service{
    background: #0C1524;
    height: calc(100vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 40px 15%;
}
.service .textService{
    display: grid;
    text-align: center;
    color: white;
    width: 100%;
    height: 80px;
}
.service .textService h1{
    font-size: 2em;
    height: fit-content;
}
.service .iconService{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 100px;
    gap: 50px;
    color: white;
}
.service .iconService ion-icon{
    font-size: 3.5em;
    color: #04BF58;
}
.service .iconService h2{
    margin: 15px;
}
.service .iconServiceConcluido{
    display: flex;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px 100px;
    gap: 50px;
    color: white;
    margin-top: 80px;
}
.service .iconServiceConcluido ion-icon{
    font-size: 3.5em;
    color: #04BF58;
}
.service .iconServiceConcluido h2{
    margin: 15px;
}
.contato{
    background: #0C1524;
    height: calc(95vh - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
}
.contato .textContact{
    display: grid;
    text-align: center;
    color: white;
    width: 100%;
    height: 80px;
}
.contato .textContact h1{
    font-size: 2em;
    height: fit-content;
}
.contato .redes{
    width: 80%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 10px;
    color: white;
}
.contato .redes ion-icon{
    font-size: 2em;
    color: #04BF58;
    margin-bottom: 15px;
}
.contato .redes a{
    text-decoration: none;
    color: white;
}
.contato .email{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}
.contato .email .form-group{
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.contato .email .form-group .form-row{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.contato .email .form-group .form-row input{
    width: 100%;
    height: 35px;
    font-size: 18px;
    margin-bottom: 5px;
    background: #1C1B29;
    border: none;
    color: white;
    border-radius: 8px;
    padding: 5px;
}
.contato .email .form-group .form-row input:hover{
   background: #04BF58;
}   
.contato .email .form-group .form-row input:hover::placeholder{
    color: white;
 }
.contato .email .form-group textarea{
    width: 100%;
    height: 160px;
    font-size: 18px;
    resize: none;
    margin-bottom: 5px;
    background: #1C1B29;
    border: none;
    border-radius: 8px;
    padding: 5px;  
    color: white;
}
.contato .email .form-group textarea:hover{
    background: #04BF58;
}
.contato .email .form-group textarea:hover::placeholder{
    color: white;
}
.contato .email .form-group button{
    width: 80px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    display: flex;
    background: #1C1B29;
    text-decoration: none;
    color: white;
}
.contato .email .form-group button:hover{
    background: #04BF58;
}
@media screen and (max-width: 840px) {
    .container{
        display: flex;
    }
    .about .skills{
        display: flex;
    }
    .portifolio{
        margin: 40px 2%;
    }
    .service{
        margin: 40px 2%;
    }
  } 
@media screen and (max-width: 620px) {
    header{
        justify-content: start;
    }
    .menu ul{
        width: 35px;
        height: 35px;
        background: url(./public/imagens/menu-outline.svg);
        margin: 10px; 
    }
    .menu ul:hover{
        transform: translateX(-280px);
        background: none;
        display: grid;
    }
    .menu ul li{
        transform: translateX(200px);
        background: #0C1524;
        width: 200px;
        height: 100px;
        display: flex;
        align-content: flex-end;
        justify-content: center;
        align-items: center;
        padding: 20px;
    }
    .container{
        display: flex;
    }
    .about .skills{
        display: flex;
    }
    .portifolio{
        margin: 40px 2%;
    }
    .service{
        margin: 40px 2%;
    }
  } 